# Flutter & Dart
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.flutter-versions

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code related
.vscode/
*.code-workspace

# macOS
.DS_Store

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/Flutter.framework
ios/Flutter/engine/Flutter.podspec
ios/.generated/
ios/.dart_tool/

# Android
android/.gradle/
android/app/proguard-rules.pro
android/local.properties
android/*.keystore

# Android Studio
*.jks
*.gradle
*.apk
.cxx/

# Firebase and Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Web
web/.dart_tool/
web/.packages
web/build/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/.flutter-plugins
windows/.flutter-plugins-dependencies

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/.flutter-plugins
linux/.flutter-plugins-dependencies

# Chrome OS
chrome/.cxx
chrome/.dart_tool
chrome/.packages

# Misc
*.log
*.lock
.pdm