name: mostro_mobile
description: "Mobile/Desktop Client for Mostro."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.5.3

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.2
  dart_nostr: ^9.0.0
  qr_flutter: ^4.0.0
  heroicons: ^0.11.0
  crypto: ^3.0.5
  convert: ^3.1.1
  shared_preferences: ^2.3.3
  equatable: ^2.0.5
  logger: ^2.5.0
  local_auth: ^2.3.0
  google_fonts: ^6.2.1
  timeago: ^3.7.0
  flutter_riverpod: ^2.6.1
  bitcoin_icons: ^0.0.4
  collection: ^1.18.0
  elliptic: ^0.3.11
  intl: ^0.19.0
  uuid: ^3.0.7
  flutter_secure_storage: ^10.0.0-beta.4
  go_router: ^15.0.0
  bip39: ^1.0.6
  flutter_hooks: ^0.21.2
  hooks_riverpod: ^2.6.1
  flutter_launcher_icons: ^0.14.2
  bip32: ^2.0.0
  path: ^1.9.0
  sembast: ^3.8.2
  sembast_web: ^2.4.1
  circular_countdown: ^2.1.0
  line_icons: ^2.0.3
  introduction_screen: ^3.1.17
  riverpod_annotation: ^2.6.1
  lucide_icons: ^0.257.0 

  flutter_localizations:
    sdk: flutter

  nip44:
    git:
      url: https://github.com/chebizarro/dart-nip44.git
      ref: master

  flutter_local_notifications: ^19.0.0
  flutter_background_service: ^5.1.0
  system_tray: ^2.0.3
  path_provider: ^2.1.5
  permission_handler: ^12.0.0+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  test: ^1.25.7
  integration_test:
    sdk: flutter
  flutter_intl: ^0.0.1
  mockito: ^5.4.4
  build_runner: ^2.4.0
  riverpod_generator:

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/images/
    - assets/data/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Roboto Condensed
      fonts:
        - asset: assets/fonts/RobotoCondensed-Bold.ttf
          weight: 700
        - asset: assets/fonts/RobotoCondensed-Medium.ttf
          weight: 500
        - asset: assets/fonts/RobotoCondensed-Regular.ttf
          weight: 400
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
flutter_intl:
  enabled: true

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/launcher-icon.png"
  remove_alpha_ios: true
