<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<application
		android:label="Mostro P2P"
		android:name="${applicationName}"
		android:icon="@mipmap/launcher_icon"
		android:allowBackup="false"
		android:fullBackupContent="false"
		android:enableOnBackInvokedCallback="true">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:taskAffinity=""
			android:theme="@style/LaunchTheme"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
			android:hardwareAccelerated="true"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="io.flutter.embedding.android.NormalTheme"
				android:resource="@style/NormalTheme" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- Deep Link Support for nostr: scheme -->
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="nostr" />
			</intent-filter>
		</activity>

		<service
			android:name="id.flutter.flutter_background_service.BackgroundService"
			android:exported="false"
			android:foregroundServiceType="dataSync"
			android:permission="android.permission.FOREGROUND_SERVICE"
			tools:replace="android:exported" />

		<receiver
			android:exported="false"
			android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver" />
		<meta-data
			android:name="flutterEmbedding"
			android:value="2" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_bg_service_small" />

	</application>

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.INTERNET" />

	<queries>
		<intent>
			<action android:name="android.intent.action.PROCESS_TEXT" />
			<data android:mimeType="text/plain" />
		</intent>
	</queries>
</manifest>